# Variáveis de ambiente
.env

# Banco de dados SQLite gerado automaticamente
agendamentos.db

# Ambiente virtual Python
venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Credenciais da Conta de Serviço do Google
service_account.json